@model WebPhoneStore.EF.EditProfileViewModel
@{
    ViewBag.Title = "Cập nhật hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4><i class="fa fa-edit"></i> Cập nhật hồ sơ</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("EditProfile", "ClientUser", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName)
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone)
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Address)
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>

                        <hr />
                        <h5 class="text-secondary">Đổi mật khẩu (tùy chọn)</h5>

                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword)
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu thay đổi</button>
                            <a href="@Url.Action("Profile", "ClientUser")" class="btn btn-secondary">Quay lại</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>