
@{
    ViewBag.Title = "Web_PhoneStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var listiphoneProduct = (List<WebPhoneStore.EF.Product>)ViewBag.ListIphoneProduct;
    var listsamsungProduct = (List<WebPhoneStore.EF.Product>)ViewBag.ListSamsungProduct;
    var listoppoProduct = (List<WebPhoneStore.EF.Product>)ViewBag.ListOppoProduct;
    var listxiaomiProduct = (List<WebPhoneStore.EF.Product>)ViewBag.ListXiaomiProduct;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop PhoneStore</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Assets/client/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Header-->
    <img src="~/Assets/client/image/banner.jpg" style="width: 100%; height:500px" />
    @*<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">

                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>

                </div>
            </div>
        </header>*@

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @foreach (var item in listiphoneProduct)
                {
                    var url = "/chi-tiet/" + item.SeoTitle + "-" + item.ProductID;
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="@url"><img class="card-img-top" src="@item.Image" alt="@item.Name" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    @(item.Price.HasValue?item.Price.Value.ToString("N0"):"Liên hệ")
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/them-gio-hang?id=@item.ProductID&quantity=1">Thêm giỏ hàng</a></div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var item in listsamsungProduct)
                {
                    var url = "/chi-tiet/" + item.SeoTitle + "-" + item.ProductID;
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="@url"><img class="card-img-top" src="@item.Image" alt="@item.Name" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    @(item.Price.HasValue?item.Price.Value.ToString("N0"):"Liên hệ")
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/them-gio-hang?id=@item.ProductID&quantity=1">Thêm giỏ hàng</a></div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var item in listoppoProduct)
                {
                    var url = "/chi-tiet/" + item.SeoTitle + "-" + item.ProductID;
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="@url"><img class="card-img-top" src="@item.Image" alt="@item.Name" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    @(item.Price.HasValue?item.Price.Value.ToString("N0"):"Liên hệ")
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/them-gio-hang?id=@item.ProductID&quantity=1">Thêm giỏ hàng</a></div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var item in listxiaomiProduct)
                {
                    var url = "/chi-tiet/" + item.SeoTitle + "-" + item.ProductID;
                    <div class="col mb-5">
                        <div class="card h-100">
                            <a href="@url"><img class="card-img-top" src="@item.Image" alt="@item.Name" /></a>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    @(item.Price.HasValue?item.Price.Value.ToString("N0"):"Liên hệ")
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/them-gio-hang?id=@item.ProductID&quantity=1">Thêm giỏ hàng</a></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
</body>
</html>

